.App {
  text-align: center;
}


.title{
  color:rgb(248, 9, 9);
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  font-size: 25px;
}

.red{
  color: rgb(253, 7, 7);
  font-weight: 300;
  font-size: 25px;
}





